.th_thead{
    text-align: center;
}
.td{
    color: deeppink;
    padding-right: 50px;
    text-align: center;
}
.td1{
    color: deeppink;
    padding-right: 80px;
    text-align: center;
}
.mr-10{
    margin-right: 10px;
}